@page
@model IndexModel
@{
    ViewData["Title"] = "Главная - Финансовый учет";
}

<div class="container mt-5">
    <h1>Добро пожаловать в систему финансового учета</h1>
    <p class="lead">Управляйте вашими финансами эффективно</p>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Категории</h5>
                    <p class="card-text">Управление категориями расходов</p>
                    <a href="/Categories" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Расходы</h5>
                    <p class="card-text">Просмотр и управление расходами</p>
                    <a href="/Expenses" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Бюджеты</h5>
                    <p class="card-text">Установка лимитов бюджета</p>
                    <a href="/Login" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>