@page
@model Task05.Web.Pages.Account.LogoutModel

@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>
<p>You have been successfully logged out.</p>
<a href="/" class="btn btn-primary">Go to Home</a>